/* ==|== internal-only info + index =========================================
    
    css for tools to help developers indentify viewport and toggle the
    grid
    
    -------------------------------------------------------------------
    index:      
    -------------------------------------------------------------------     
    _devolpment tools
    _grid

    */


/* ==|== _development tools ==============================================
   development tools active viewport + actual window size

    __dev tools [M]
    ___dev tools [L]
    ____dev tools [XL]
    _____dev tools [XXL]

========================================================================== */

.dev-tools
{
    background: #b5ffc8;
    bottom: 0;
    display: block;
    height: 40px;
    left: 0;
    line-height: 40px;
    padding: 0 5px;
    position: fixed;
    right: 0;
    z-index: 10;
}

.dev-tools-vw-active:after
{
    background: rgba(255,255,255, 0.8);
    content: "S: <= 500px";
    display: inline-block;
    color: red;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    padding: 0 5px;
}
/*** __dev tools [M] ***/
@media only screen and (min-width: 501px)
{
    .dev-tools
    {
        background: #ffd800;
    }

    .dev-tools-vw-active:after
    {
        content: "M: 501px - 800px";
    }
}


/*** ___dev tools [L] ***/
@media only screen and (min-width: 801px)
{
    .dev-tools
    {
        background: #ffc0cb;
    }

    .dev-tools-vw-active:after
    {
        content: "L: 801px - 940px";
    }
}

/*** ____dev tools [XL] ***/
@media only screen and (min-width: 941px)
{
    .dev-tools
    {
        background: #b5c8f4;
    }

    .dev-tools-vw-active:after
    {
        content: "XL: >  940px";
    }
}

/*** _____dev tools [XXL]  ***/
@media only screen and (min-width: 1320px)
{
    .dev-tools-vw
    {
        background: #b5c8f4;
    }

    .dev-tools-vw-active:after
    {
        content: "XXL: > 1320px";
    }
}

.dev-tools-vw-active:before
{
    /*display: none !important;*/
}




/* ==|== _grid ==============================================
   grid overlay

    _grid [S - ONLY]
    __grid [M]
    ___grid [L]
    ____grid [XL]
    _____grid [XXL]

========================================================================== */

.dev-grid-overlay
{
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    width: 100%;
}

.dev-grid-s
{
    border-spacing: 10px;
    display: table;
    height: 100%;
    margin-top: -10px;
    table-layout: fixed;
    width: 100%;
}

.dev-grid-col
{
    background: rgba(226,0, 138,0.15);
    display: table-cell;
    height: 100%;
    width: 16.6667%;
}

.dev-grid-toggle
{
    background: #ff9900;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 25px;
    line-height: 20px;
    padding: 0 5px;
    position: fixed;
    bottom: 7px;
    right: 7px;
    z-index: 11;
}
/*** _grid [S - ONLY] ***/
@media only screen and (max-width: 500px)
{
    .dev-grid-l
    {
        display: none;
    }
}
/*** __grid [M] ***/
@media only screen and (min-width: 501px)
{
    .dev-grid-s
    {
        border-spacing: 20px 0;
    }
}

/*** ___grid [L] ***/
@media only screen and (min-width: 801px)
{
	.admin-body .my-randstad-login-panel
	{
		top: 110px;
	}

	.dev-grid-s
    {
        display: none !important;
    }

    .dev-grid-overlay
    {
        padding-left: 10px;
        padding-right: 10px;
    }

    .dev-grid-l
    {
        border-spacing: 20px;
        display: table;
        height: 100%;
        margin-top: -20px;
        table-layout: fixed;
        width: 100%;
    }

    .dev-grid-col
    {
        background: rgba(226,0, 138,0.15);
        display: table-cell;
        height: 100%;
        width: 8.3333%;
    }
}
/*** ___grid [XL] ***/
@media only screen and (min-width: 941px)
{
    .dev-grid-overlay
    {
        margin: 0 auto;
        max-width: 1230px;
        padding: 0;
    }

    .dev-grid-l
    {
        border-spacing: 30px 0;
        margin-top: -30px;
    }
}
